body {
  background-color: #171718 !important;
  max-width: 100%;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: initial;
  max-width: 100%; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.contenidoPrincipal {
  background-color: #171718; }

.principal #carousel {
  background-color: black;
  margin-bottom: 20px;
  border-radius: 50px; }
  .principal #carousel .carousel-item img {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 80%; }

.principal .card {
  box-shadow: 12px 12px 12px 12px black;
  margin-bottom: 30px; }
  .principal .card .listaReproduccion h2 {
    color: white; }
  .principal .card .ultimoLanzamiento h2 {
    color: white; }

@media screen and (max-width: 480px) {
  .principal #carousel {
    background-color: #171718; }
    .principal #carousel .carousel-item img {
      border-radius: 10px;
      max-width: 100%; } }

.encabezado {
  display: flex;
  justify-content: center; }

.container-fluid .navbar-toggler {
  border-color: white; }

#navbar {
  border-radius: 20px; }
  #navbar .nav-item {
    padding: 2px 20px; }
    #navbar .nav-item :hover {
      transition: transform 0.5s;
      transform: scale(1.2);
      text-decoration: solid; }

@media screen and (max-width: 480px) {
  .nav-item {
    display: flex;
    justify-content: center;
    padding: 2px 20px; }
    .nav-item :hover {
      transition: transform 0.5s;
      transform: scale(1);
      text-decoration: solid; }
  .navbar-brand img {
    height: 150px;
    width: 200px; } }

footer {
  margin-top: 20px; }

#cardEventos {
  display: flex;
  max-width: 60%;
  align-items: center;
  margin: 20px 20px;
  transition: all 2s;
  box-shadow: 4px 4px 4px 4px black; }
  #cardEventos :hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    text-decoration: solid; }
  #cardEventos h5 {
    font-size: 30px;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    align-items: center; }
  #cardEventos img {
    max-width: 60%;
    padding: 10px;
    border-radius: 30px; }

@media screen and (max-width: 480px) {
  #cardEventos h5 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    align-items: center; }
  #cardEventos img {
    max-width: 90%;
    padding: 10px;
    border-radius: 30px; } }

#multimedia {
  padding: 20px 20px; }
  #multimedia .container-sm {
    display: flex;
    justify-content: center;
    padding: 20px 20px; }
    #multimedia .container-sm .card {
      display: flex;
      max-width: 60%;
      justify-content: center; }
      #multimedia .container-sm .card iframe {
        max-width: 100%; }
  #multimedia h2 {
    color: white; }
  #multimedia .container-md {
    padding: 20px 20px; }

.conocenos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .conocenos .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .conocenos .cards .card {
      margin-top: 40px;
      margin-bottom: 40px;
      position: relative;
      max-width: 300px;
      max-height: 400px;
      box-shadow: 0 40px 60px -6px black; }
      .conocenos .cards .card .card img {
        max-width: 100%;
        display: block;
        position: relative; }
      .conocenos .cards .card .card-desc {
        display: block;
        font-size: 15px;
        position: absolute;
        opacity: 0;
        padding: 18px;
        color: white;
        background-color: black;
        transition: 0.8s ease; }
    .conocenos .cards .card:hover .card-desc {
      opacity: 1;
      height: 100%; }
  .conocenos h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #fff;
    text-align: center; }

#contacto {
  margin-top: 12px; }
  #contacto h1 {
    display: flex;
    justify-content: center;
    color: white; }

.form-box {
  margin-top: 20px;
  border-radius: 12px; }
  .form-box .form-group {
    justify-items: center;
    padding: 12px 12px; }

.btn {
  display: flex;
  flex-direction: column;
  margin: 12px 12px; }

@media screen and (max-width: 480px) {
  #contacto .row .col-md-4 {
    display: flex;
    justify-content: center;
    padding-right: 100px;
    padding-bottom: 50px; }
    #contacto .row .col-md-4 .card-header {
      font-size: 12px; }
    #contacto .row .col-md-4 .list-group li {
      font-size: 12px; } }

#contacto .card {
  margin-top: 20%;
  margin-left: 30%;
  display: flex;
  flex-wrap: nowrap; }
