 
 body {
  background-color: #171718 !important;
  max-width: 100%;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count:initial;
  max-width: 100%;
}

@keyframes aparecer{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 0.5;
  }

  100%{
    opacity: 1;
  }

}

@media only screen and (max-width:991px ) {

  .navbar-brand img{
      display: none;
  }
  
}

/* NAV BAR */


.encabezado{
  display: flex;
  justify-content: center;

}

#navbar{
  border-radius: 20px;

}

.nav-item{
  padding: 2px 20px;
 
}

.nav-item a:hover{
  transition:transform .5s;
  transform: scale(1.2);
  text-decoration: solid;

}

#cardConocenos img{
max-width: 80%;
padding: 20px 20px;
border-radius: 30px; 
}

#carousel{

  margin: 30px 20px;

}


.card h2{
  color: white;
  padding: 15px 0px;

}

#cardEventos{
  display: flex;  
  max-width: 60%;
  align-items: center;
  margin: 20px 20px;
  transition: all 2s;
  box-shadow: 4px 4px 4px 4px gainsboro;
}

#cardEventos:hover{
transform: scale(1.05);
}

#cardEventos h5{
  font-size: 30px;
  vertical-align: middle;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  align-items: center;
}

#cardEventos img{
  max-width: 60%;
  padding: 10px;
  border-radius: 30px; 
}

footer{
  margin-top: 20px;
}

#multimedia{
  padding: 20px 20px;
}

#multimedia .container-sm{
  display: flex;
justify-content: center;
  padding: 20px 20px;
}

.container-sm .card{
  display: flex;
  max-width: 60%;
  justify-content: center;
}


.imagen-navbar {
  text-align: center;
}

.imagen-navbar img {
  width: 30%;
  height: 30%;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count:initial;

}

#conocenos .card{
  margin-top: 20%;
  margin-left: 30%;
  display: flex;
  flex-wrap: nowrap;
}


#conocenos{
  margin-top: 12px;
}

#conocenos h1{
  color: white;
}

.form-box{
 margin-top: 20px;
  border-radius: 12px;
}

.form-group{
  justify-items: center;
  padding: 12px 12px;
}

.btn{
  display: flex;
  flex-direction: column;
  margin: 12px 12px;
}




h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-align: center;
  justify-content: center;
}

#cardConocenos{
  display: flex;
  margin: 30px 30px;
}

#cardConocenos .card-title{
  color: black;
}
