
 #conocenos {
    display: flex;
    margin: 30px 30px;

    #cardConocenos{
        margin-top: 20%;
        margin-left: 30%;
        display: flex;
        flex-wrap: nowrap;
        
      }

    h1 {
        color: white;
      }
      .card-title {
        color: black;
      }
  }

  #cardConocenos{
    .card {
      margin-top: 20%;
      margin-left: 30%;
      display: flex;
      flex-wrap: nowrap;
    }
   img {
    max-width: 80%;
    padding: 20px 20px;
    border-radius: 30px;

  
   }}