#contacto {
  margin-top: 12px;

  h1 {
    display: flex;
    justify-content: center;
    color: white;
  }

  .card {
    @extend %card;
  }
}

.form-box {
  margin-top: 20px;
  border-radius: 12px;
  .form-group {
    justify-items: center;
    padding: 12px 12px;
  }

}

.btn {
  display: flex;
  flex-direction: column;
  margin: 12px 12px;
}

@media screen and (max-width:480px) {
  #contacto{
    .row{
      .col-md-4{
        display: flex;
        justify-content: center; 
        padding-right: 100px;
        padding-bottom: 50px;
        .card-header{
          font-size: 12px;

        }
        .list-group{
          li{
            font-size: 12px;
          
          }
        }

      }

    }
  }
  
}