#cardEventos {
  display: flex;
  max-width: 60%;
  align-items: center;
  margin: 20px 20px;
  transition: all 2s;
  box-shadow: 4px 4px 4px 4px black;

  :hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    text-decoration: solid;
  }

  h5 {
    font-size: 30px;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    align-items: center;
  }
  img {
    max-width: 60%;
    padding: 10px;
    border-radius: 30px;
  }
}

@media screen and (max-width: 480px) {
  #cardEventos {
    h5 {
      display: flex;
      justify-content: center;
      font-size: 16px;
      vertical-align: middle;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      align-items: center;
    }
    img {
      max-width: 90%;
      padding: 10px;
      border-radius: 30px;
    }
  }
}
