.contenidoPrincipal {
  background-color: map-get($map: $colores, $key: "color-principal");
}

.principal {

  #carousel {
    background-color: black;
    margin-bottom: 20px;
    border-radius: 50px;

    .carousel-item {
      img {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 80%;
      }
    }
  }

  .card {
    box-shadow: 12px 12px 12px 12px black;
    margin-bottom: 30px;

    .listaReproduccion {
      h2 {
        color: white;
      }
    }

    .ultimoLanzamiento {
      h2 {
        color: white;
      }
    }
  }
}

@media screen and (max-width:480px){

  .principal{
    #carousel{
      background-color: map-get($map: $colores, $key:"color-principal" );
      
    .carousel-item {
      img {
        border-radius: 10px;
        max-width: 100%;
      }
    }
  }
}
}
