#multimedia {
  padding: 20px 20px;

  .container-sm {
    display: flex;
    justify-content: center;
    padding: 20px 20px;

    .card {
      display: flex;
      max-width: 60%;
      justify-content: center;

      iframe{
max-width: 100%;
      }
      
    }
  }
  h2 {
    color: map-get($map: $colores, $key: "color-texto");
  }
}
