@import "mixin";

.encabezado {
  display: flex;
  justify-content: center;
}

#navbar {
  @include border(20px);

  .nav-item {
    padding: 2px 20px;

    :hover {
      transition: transform 0.5s;
      transform: scale(1.2);
      text-decoration: solid;
    }
  }
}
