@import "mixin";

.encabezado {
  display: flex;
  justify-content: center;
}

.container-fluid {
  .navbar-toggler {
    border-color: white;
  }
}

#navbar {
  @include border(20px);

  .nav-item {
    padding: 2px 20px;

    :hover {
      transition: transform 0.5s;
      transform: scale(1.2);
      text-decoration: solid;
    }
  }
}
@media screen and (max-width: 480px) {
  .nav-item {
    display: flex;
    justify-content: center;
    padding: 2px 20px;

    :hover {
      transition: transform 0.5s;
      transform: scale(1);
      text-decoration: solid;
    }
  }

  .navbar-brand img {
    height: 150px;
    width: 200px;
  }
}
